{% extends 'base.html' %}

{% block title %}art{% endblock %}

{% block content %}
	{% for row in tags|batch(4) %}
	<div class="row">
		{% for tag in row %}
		<div class="pad-3 card">	
			<h1>{{ tag.name }}</h1>
			<img src="{{ staticroot }}art/{{ tag.splash.file_name }}.jpg" alt="{{ tag.splash.file_name  }}">
			{% if tag.description %}<p>{{ tag.description }}{{ tag.image }}</p>{% endif %}
			<a href="/{{ urlprefix  }}/{{ tag.doc_name }}" style="width:100%;" class="button">view</a>
		</div>
		{% endfor %}
	</div>
	{% endfor %}
{% endblock %}
