{% extends 'base.html' %}

{% block title %}music{% endblock %}

{% block content %}
	<div class="row">
		<h1 class = "col-12" style = "text-align: center; color: white;">most played of the last month</h1>
	</div>
	<div class="row">
		{% for album in albums %}
			<div class = "pad-2 card">
				<img src="{{album.image[3].text}}">
				<p style="text-align:center">{{ album.name }}<br>{{ album.artist.name -}}</p>
				<p style="text-align:center">{{- album.playcount }} plays</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
