{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
	
	<div class="row text-no-select">
		<div class="col-9" style="text-align:center">
			{% for text_entry in main_text %}
			<p>{{ text_entry }}</p>
			{% endfor %}
		</div>
		<div class="col-3 profile">
			<img src="{{ staticroot }}me.jpg" height=150>
			<p style="text-align: center">Sarsoo</p>
		</div>
	</div>

	<div class="gallerystrip row text-no-select">
		{% for image in art %}
		<img src="{{ staticroot }}art/{{ image.file_name  }}.jpg" alt="{{ image.file_name  }}" class="pad-4">
		{% endfor %}
	</div>
{% endblock %}
