<!doctype html>
<html>
<head>
	<title>sarsoo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='art.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
	<div class="header">
	<h1>sarsoo</h1>
	</div>
	<br><br>
	<ul class="navbar">
		<li><a href="/">home</a></li>
		<li><a href="/art">art</a></li>
		<li><a href="https://github.com/sarsoo">github</a></li>
		<li><a href="https://www.last.fm/user/sarsoo">last.fm</a></li>
	</ul>

	<div class="gallery">
		<a target="_blank" href="{{ url_for('static', filename='art/freddie.jpg') }} ">
		<img src="{{ url_for('static', filename='art/freddie.jpg') }}" alt="Freddie Gibbs" width="600" height="400">
		</a>
	</div>
</body>
</html>
