{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="col-9" style="text-align:center">
			<p>electronic engineering student / disney intern</p>

			<p>proficient in C, Java, Python</p>
		</div>
		<div class="col-3 profile">
			<img src="{{ staticroot }}me.jpg" height=150>
			<p style="text-align: center">sarsoo</p>
		</div>
	</div>

	<div class="gallerystrip row">
		<img src="{{ staticroot }}art/freddie.jpg" alt="freddie gibbs" class="col-pad-4">
		<img src="{{ staticroot }}art/self.jpg" alt="me" class="col-pad-4">
		<img src="{{ staticroot }}art/horse.jpg" alt="tempation of saint anthony" class="col-pad-4">
	</div>
{% endblock %}
