{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
	
	<div class="row">
		<div class="col-9" style="text-align:center">
			<p>electronic engineering student / disney intern</p>

			<p>proficient in C, Java, Python</p>
		</div>
		<div class="col-3 profile">
			<img src="{{ url_for('static', filename='me.JPG') }}" height=150>
			<p style="text-align: center">sarsoo</p>
		</div>
	</div>

	<div class="gallerystrip row">
		<img src="{{ url_for('static', filename='art/freddie.jpg') }}" alt="freddie gibbs" class="col-4">
		<img src="{{ url_for('static', filename='art/self.jpg') }}" alt="me" class="col-4">
		<img src="{{ url_for('static', filename='art/horse.jpg') }}" alt="tempation of saint anthony" class="col-4">
	</div>
{% endblock %}
