{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
	
	<div class="row">
	<p style="text-align:center">electronic engineering student</p>
	</div>

	<div class="gallerystrip row">
		<img src="{{ url_for('static', filename='art/freddie.jpg') }}" alt="freddie gibbs" class="col-4">
		<img src="{{ url_for('static', filename='art/self.jpg') }}" alt="me" class="col-4">
		<img src="{{ url_for('static', filename='art/horse.jpg') }}" alt="tempation of saint anthony" class="col-4">
	</div>
{% endblock %}
