{% extends 'base.html' %}

{% block title %}music{% endblock %}

{% block content %}	
	<div class="row">
		<iframe src="https://open.spotify.com/embed/user/sarsoo/playlist/0toeopPZxOSyawFLTUpT55" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
		<iframe src="https://open.spotify.com/embed/user/sarsoo/playlist/261sD9dTDllLMq7hiEmWOW" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
{% endblock %}
